<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CondominioEntities" connectionString="metadata=res://*/CondominioEDM.csdl|res://*/CondominioEDM.ssdl|res://*/CondominioEDM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1;PASSWORD=1234;USER ID=BDCONDOMINIONEW&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>